<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DMS_Beta.Properties.Settings.connectionstring" connectionString="Data Source=DESKTOP-ISTKFSD\SINA;Initial Catalog=DMS-rasa;Integrated Security=True" />
        <add name="DMS_Beta.Properties.Settings.DMS_rasaConnectionString"
            connectionString="Data Source=DESKTOP-ISTKFSD\SINA;Initial Catalog=DMS-rasa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>